@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
}
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #000000;
 }
  
  ul {
    list-style: none;
  }
  
  .header {
    position: relative;
    background-color: #000000;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 27%;
    z-index: 0;
    text-align: center;
    box-sizing: border-box;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  
  .logo-nav {
    display: flex;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    padding: 28px 0px;
    justify-content: space-between;
  }
  
  .logo {
    max-width: 180px;
  }
  
  .headline {
    width: 679px;
    padding: 70px 0 128px 0;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  
  h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
  }
  
  .site-navigation {
    display: flex;
    color: #ffffff;
    font-size: 13px;
  }
  
  .site-navigation-item:nth-child(-n+6) {
    margin-left: 35px;
  }
  
  .site-navigation-item a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .site-navigation-item a:hover {
     border-bottom: 1px solid #dededd;
  }
  

  .trends {
    margin-top: 60px;
    width: 100%;
  }
  
  .trends-title {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .trends-title::after {
    content: " ";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 14px auto 0;
  }
  
  .cards-trends-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .trend-card {
    width: 24.7%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 20px;
    display: flex;
    align-items: flex-end;
  }
  
  .trend-card1 {
    background-image: url("../images/trend1.jpg");
  }
  
  .trend-card2 {
    background-image: url("../images/trend2.jpg");
  }
  
  .trend-card3 {
    background-image: url("../images/trend3.jpg");
  }
  
  .trend-card4 {
    background-image: url("../images/trend4.jpg");
  }
  
  .trend-card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  
  .content-card-trend {
    border: 3px solid #b59f5b;
    padding: 30px;
    width: 100%;
    margin-top: 60px;
  }
  
  .card-trend-title {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #f4f7f6;
  }

  .card-trend-title:hover {
    color: #b59f5b;
  }
  
  .more-trend {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 19px;
  }

  .more-link {
    display: block;
    text-decoration: none;
    font-weight: Bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    
  }

  .more-link:hover {
    text-decoration: underline;
  }


  .main-aside {
    display: flex;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    max-width: 1170px;
  }
  
  .posts {
    margin-top: 64px;
  }
  
  .posts-content {
    margin-left: 30px;
    margin-top: 0px;
  }
  
  .posts-item {
    width: 778px;
    display: flex;
    margin-bottom: 59px;
  }
  
  .posts-item-2 {
    width: 778px;
    display: flex;
    margin-bottom: 60px;
  }
  
  .posts-item-3 {
    width: 778px;
    display: flex;
    margin-bottom: 61px;
  }
  
  .posts-item-4 {
    width: 778px;
    display: flex;
    margin-bottom: 63px;
  }
  
  .posts-image {
    min-width: 381px;
    height: 294px;
    background-color: #e1d9bd;
  }
  
  .posts-chapter-list {
    display: flex;
    gap: 19px;
  }
  
  .posts-chapter-list-item a {
    display: block;
    text-decoration: none;
    font-weight: Bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
  }
  
  .posts-chapter-list-item a:hover {
    text-decoration: underline;
  }
  
  .post-header {
    line-height: 1.2;
    font-weight: Bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 3px;
    max-width: 330px;
  }
  
  .post-header a:hover {
    color: #b59f5b;
  }
  
  .post-header a {
    text-decoration: none;
    color: #0f0d0e;
  }
  
  .time-author {
    display: flex;
    margin-top: 28.6px;
    margin-bottom: 38px;
    font-size: 12px;
    gap: 12px;
  }
  
  .date {
    color: #888888;
  }
  
  .author {
    font-weight: bold;
    color: #000000;
  }
  
  .post-description {
    font-size: 15px;
    line-height: 1.46;
    margin-top: 46px;
  }
  
  .post-description-2 {
    font-size: 15px;
    line-height: 1.46;
    margin-top: 50px;
    min-width: 340px; 
  }
  
  .distance {
    margin-top: 12px;
  }
  
  .right-column {
    margin-top: 60px;
    margin-left: 121px;
  }
  
  .side-item {
    margin-top: 22px;
    width: 100%;
    display: flex;
  }
  
  .side-header {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  
  .side-header:after {
    content: "";
    position: absolute;
    top: 14px;
    bottom: 23px;
    left: 105px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 14px;
  }
  
  .side-item-1 {
    margin-top: 40px;
    width: 100%;
    display: flex;
  }
  
  .side-image {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    margin-right: 19px;
    background-color: #e1d9bd;
    font-size: 10px;
  }
  
  .side-content-header {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.28;
  }
  
  .side-content-header a:hover {
    color: #b59f5b;
  }
  
  .side-content .date {
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0px;
    padding: 0px;  
    font-size: 12px;
  }
  
  .side-content a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-top: 1px;
    padding: 0px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .search {
    display: flex;
  }

  .search-group {
    width: calc(100% - 45px);
  }
  
  .field {
    width: 100%;
    border: none;
    background-color: #f4f7f6;
    height: 48px;
    margin-top: 60px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 20px;
    font-family: inherit;
    font-size: 13px;
  }
  
  .field:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  
  .button {
    margin-top: 60px;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .button:hover {
    background-color: #323232;
  }
  
  .subscribe {
    margin-top: 59px;
    margin-bottom: 57px;
  }
  
  .subscribe-header {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  
  .subscribe-header:after {
    content: "";
    position: absolute;
    display: block;
    top: 14px;
    bottom: 23px;
    left: 145px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 14px;
  }
  
  .field-email {
    height: 48px;
    width: 100%;
    margin-top: 35px;
    border: none;
    background-color: #f4f7f6;
    font-family: inherit;
    font-size: 13px;
    padding-left: 18px;
    box-sizing: border-box;
  }
  
  .field-email:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }
  
  .button-subscribe {
    margin-top: 17px;
    width: 100%;
    border: none;
    background-color: #b59f5b;
    height: 49px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  
  .button-subscribe:hover {
     background-color: #323232; 
  }
  
  .tags {
    margin-bottom: 55px;
  }
  
  .tags-header {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    font-style: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .tags-header:after {
    content: "";
    position: absolute;
    top: 14px;
    bottom: 23px;
    left: 105px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 14px;
  }
  
  .tags-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
  }
  
  .tags-content li {
    box-sizing: border-box;
    margin-bottom: 8px;
  }
  
  .tags-content a {
    text-decoration: none;
    color: #0f0d0e;
    border: 3px solid #eeeeee;
    font-size: 12px;
    padding: 4px 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tags-content-unit:hover {
    border: 3px solid #b59f5b;
  }
  
  .themes-header {
    position: relative;
    text-align: center;
    margin-bottom: 33px;
    font-style: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .themes-header:after {
    content: "";
    position: absolute;
    top: 14px;
    bottom: 23px;
    left: 105px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin-top: 14px;
  }
  
  .themes-content li {
    margin-bottom: 23px;
  }
  
  .themes-content a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
  }
  
  .themes-content a:hover {
    color: #b59f5b;
  }
  
  .themes-content a:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0px;
    width: 270px;
    height: 1px;
    background-color: #e1d9bd;
    margin-top: 14px;
  }
  
  .up {
    vertical-align: super;
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    margin-left: 4px;
  }
  
  .handwork {
    margin: 65px auto 0;
    max-width: 1200px;
    padding: 0 15px;
  }
  
  .handwork-title {
   font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .handwork-title::after {
    content: " ";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 14px auto 0;
  }
  
  .handwork-cards{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
  }
  
  .handwork-card{
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  
  .image-container{
    padding: 0 25px;
  }
  
  .shop-item-image{
    width:100%;
  }
  
  .info-container{
  width:100%;
   padding: 55px 20px 20px;
    border: solid 3px #d3c59d;
    margin-top: -35px;
    z-index: 1;
    flex-grow: 1;
  }
  
  .card-title{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #0f0d0e;
    }
  
  .card-text{
    font-family: "Open Sans Regular", sans-serif;
    line-height: 1.5;
    font-size: 15px;
   color: #0f0d0e;
   margin-bottom: 20px;
  }
   
  .item-link {
    color: #c9b987;
    text-decoration: none;
  }
  
  .item-link:hover{
    text-decoration: underline;
  }
  
  .costs-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .item-costs{
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
  }
  
  .old-cost{
    text-decoration: line-through;
    font-weight: 700;
    font-size: 14px;
  }
  
  .actual-cost{
    font-weight: 700;
    font-size: 20px;
  }
  
  .shop-button{
    color: #fff;
    background-color: #b59f5b;
    width: 140px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    margin-top: 18px;
  }
  
  .shop-button:hover{
    background-color: #000000;
    cursor: pointer;
  }
  



  .footer-content {
    max-width: 1170px;
    justify-content: center;
    background-color: #f4f7f6;
    margin: 0 auto;
    padding: 32px 0;
    box-sizing: border-box;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .social-media-item {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .social-media-item-dribble {
    background-image: url(../svg/001-dribbble.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .social-media-item-pinterest {
    background-image: url(../svg/002-pinterest.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .social-media-item-tumblr {
    background-image: url(../svg/003-tumblr.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .socials-media-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .copyright {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
  }


@media  (max-width: 640px) {
  
  
    .header {
      background-image: url("../images/banner-mobile.jpg");
      padding: 28px 0 212px;
      
    }

    .logo-nav {
      padding: 0px 14px;
    }

    .headline {
      width: 269px;
    }

    .logo {
      width: 100%;
      max-width: 269px;
      margin-top: 174px;
      margin-left: 31px;
      margin-right: 31px;
    }

    .main-header-nav {
      background-image: url(../svg/menu-burger-horizontal-svgrepo-com.svg);
      background-repeat: no-repeat;
      background-size: cover;
      
      width: 27px;
      height: 23px;
  
      align-self: flex-end;
    }

    .site-navigation {
      display: none;
    }

    .headline {
      width: 328px;
      font-size: 26px;
      line-height: 36px;
  
      margin-top: 31px;
    }

    .trends {
      display: flex;
      margin-top: 36px;
    }

    .cards-trends-container {
      display: block;
      width: 100%;
    }

    .section-trends-wrapper {
      flex-direction: column;
    }

    .trends-title {
      font-size: 16px;
      margin-bottom: 40px;
    }

    .trends-title::after {
      margin-top: 6px;
    }

    .trend-card {
  
      padding: 15px 16px;
      width: 100%;
      min-height: 229px;
      margin-bottom: 3px;
    }

    .trend-card:not(:last-child) {
      margin-bottom: 0.5%;
    }

    .content-card-trend {
      margin-top: 80px;
      padding: 25px 20px;
    }

    .card-trend-title {
      font-size: 16px;
      line-height: 1.3;
    }

    .main-aside {
      margin-top: 45px;
      display: block;
      width: 100%;
    }

    .posts-item {
      display: block;
      width: 100%;
    }

    .posts-item::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #eeeeee;
  
      margin-top: 17px;
    }

    .posts-item-2 {
      display: block;
      width: 100%;
      margin-top: 17px;
    }

    .posts-item-2::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #eeeeee;
  
      margin-top: 17px;
    }

    .posts-item-3 {
      display: block;
      width: 100%;
      margin-top: 34px;
    }

    .posts-item-3::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #eeeeee;
  
      margin-top: 17px;
    }

    .posts-item-4 {
      display: block;
      width: 100%;
      margin-top: 34px;
    }

    .posts-item-4::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #eeeeee;
      margin-top: 17px;
    }

    .posts-image {
      width: 100%;
    }

    .posts-content {
      margin-top: 8px;
    }

    .post-header {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 25px;
    }

    .time-author {
      margin-bottom: 25px;
    }

    .post-description {
      font-size: 14px;
      line-height: 1.4;
      margin-top: 3px;
    }


    .right-column {
      margin-top: 45px;
      display: block;
      width: 100%;
      margin-left: 12px;
      margin-right: 12px;
    }

    .side-header {
      font-size: 16px;
      margin-bottom: 25px;
    }

    .side-header::after {
      margin-top: 10px;
    }

    .side-items {
      padding-bottom: 60px;
    }

    .side-search {
      margin-bottom: 40px;
    }

    .subscribe {
      margin-bottom: 40px;
    }

    .tags {
      margin-bottom: 40px;
    }

    .themes-content li {
      padding: 12px 0 11px;
    }

    .main-footer {
      margin-top: 45px;
      padding-bottom: 45px;
    }

    .copyright {
      margin-top: 50px;
    }

    .handwork-card {
      width: 100%;
    }
  
    .handwork-card:not(:last-child) {
      margin-bottom: 25px;
    }
    



  }

